.search-input {
  padding: 10px;
  border-radius: 20px;
  width: 400px;
}

.search-input.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#goldenLayoutId1 {
        visibility: hidden;
}